li a{
	color: green;
}
body{
	height: 100%;
	background-color: white;
	background-image: url('images/django-logo-negative.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 250px 100px;
}