<h1>{{ question.question_text }}</h1>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form method='post' action="{% url 'polls:vote' question.id %}">
{% csrf_token %}
{% for c in question.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ c.id }}">
		<label id="choice{{ forloop.counter }}">{{ c.choice_text }}</label>
{% endfor %}
<input type="submit" name="Vote">
</form>