{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
{% if latest_question_list %}
	<ul>
	{% for q in latest_question_list %}
		<li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No poll questions yet</p>
{% endif %}