<h1>{{ question.question_text }}</h1>
<ul>
{% for c in question.choice_set.all %}
	<li>{{ c.choice_text }} -- {{ c.votes }}</li>
{% endfor %}
</ul>
<a href="{% url 'polls:detail' question.id %}">Vote again</a>
